.edit-page-container {
  padding: 0 20px;
  padding-top: 40px;
  .container {
    .row {
      justify-content: center;
    }
  }
  .datepicker-container {
    .react-datepicker-wrapper {
      width: 100%;
      input {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
      input:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
      }
    }
  }
  #photos-id {
    margin-bottom: 10px;
  }
  .button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
      width: 150px;
    }
  }
  .validate-text {
    transition: all 0.3s;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    left: 0;
    right: 0;
  }
  .code-300 {
    color: red !important;
  }
  .code-200 {
    color: green !important;
  }
  .submit-button {
    margin-top: 40px;
    width: 100%;
  }
}

@media only screen and (min-width: 576px) {
  .edit-page-container {
    .container {
      .row {
        form {
          width: 600px;
        }
      }
    }
  }
}
