@import 'normalize.css';

.layout-container {
  min-height: 100vh;
  background-color: #f0f0f0;
  padding-top: 88px;
  padding-bottom: 300px;
  position: relative;
  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2147483646;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
    .logo-container {
      height: 62px;
      img {
        height: 100%;
      }
    }
  }
  
  .footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid darkgrey;
    .social-container {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      margin-bottom: 20px;
      width: 100%;
      img {
        width: 24px;
        transition: all 0.3s;
        cursor: pointer;
        border-radius: 50%;
      }
      img:hover {
        width: 30px;
        // box-shadow: 0px 0px 10px 2px rgba(80,200,232,1);
      }
    }
    .img-container {
      width: 100%;
      max-width: 600px;
      img {
        width: 100%;
      }
    }
  }
}

.index-container {
  padding-top: 40px;
  .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .spinner-border {
      width: 80px;
      height: 80px;
    }
    div {
      margin-top: 30px;
    }
  }
  .scroll-loading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.toy-item-container {
  background-color: white;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
  margin-bottom: 30px;
  border-radius: 10px;
  .cover-container {
    height: 200px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
    img.placeholder {
      object-fit: scale-down;
      background-color: gray;
    }
  }
  .details-container {
    position: relative;
    padding: 8px 14px;
    cursor: pointer;
    .toy-name {
      font-weight: 900;
      font-size: 20px;
    }
    .toy-type {
      color: darkgray;
      font-weight: 100;
      /* line-height: normal; */
      text-transform: uppercase;
      font-size: 14px;
    }
    .toy-availability {
      margin-top: 15px;
    }
    .toy-rating {
      display: flex;
      position: absolute;
      top: 12px;
      right: 14px;
      .star-icon {
        margin-left: 2px;
        div {
          display: flex;
        }
        svg {
          fill: #50c8e8;
          height: 15px;
          width: 15px;
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  .layout-container {
    .header-container {
      position: absolute;
    }
    .footer-container {
      flex-direction: row-reverse;
      .social-container {
        align-items: center;
        max-width: 350px;
        margin-left: 30px;
      }
    }
  }
}
