.toy-page-container {
  .carousel-container {
    height: 300px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
    margin-bottom: 20px;
    .cover-container {
      height: 300px;
      cursor: pointer;
      img {
        height: 100%;
        width: auto;
        object-fit: cover;
      }
    }
  }
  .toy-name {
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 10px;
  }
  .toy-type {
    color: darkgray;
    font-weight: 100;
    /* line-height: normal; */
    text-transform: uppercase;
    font-size: 16px;
  }
  .toy-availability {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .toy-rating {
    display: flex;
    margin-bottom: 20px;
    // position: absolute;
    // top: 12px;
    // right: 14px;
    .star-icon {
      margin-left: 2px;
      div {
        display: flex;
      }
      svg {
        fill: #50c8e8;
        height: 30px;
        width: 30px;
      }
    }
  }
  .floating-container {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 250px;
    display: flex;
    align-items: center;
    .edit-button {
      // position: absolute;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: 100px;
      background-color: #50c8e8;
      border: none;
      box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
      transition: all 0.3s;
    }
    .edit-button:hover, .edit-button:active, .edit-button:focus {
      font-size: 1.1rem;
      font-weight: bolder;
      background-color: #50c8e8;
    }
  }
}

@media only screen and (min-width: 576px) {
  .toy-page-container {
    .toy-rating {
      justify-content: flex-end;
    }
    .floating-container {
      bottom: 200px;
    }
  }
}
